<!DOCTYPE html>
<!-- open /Applications/Google\ Chrome.app --args --disable-web-security -->
<html lang="fr" ng-app="mainApp">
    <head>
        <meta charset="utf-8" />
        <title>Main</title>        
        <link rel="stylesheet" href="web/css/style.css">
        <script src="js/vendor/angular.js"></script>
        <script src="https://code.angularjs.org/1.4.5/angular-route.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <a href="#/fruit">Voir les fruits</a>
        <a href="#/panier">Voir le panier</a>
        <div ng-view></div>
        <section ng-controller="restController">
            <input ng-model="user" />
            <button ng-click="getVersion(user)">Obtenir la version</button>
            <p>The ID is {{result.data.databaseVersion}}</p>
			<p>The content is {{result.data.applicativeVersion}}</p>
        </section>
    </body>
</html>